# This is an example environment variable file.
# If you want to use this bot for your own server, you need to change the values in here.

# A token from the Discord API to let the bot log in and send messages.
BOT_TOKEN='token'

# Characters the bot should look for when a user sends a message. The bot should only respond to
# messages if they start with this prefix.
COMMAND_PREFIX='!!'

# A list of people, separated by spaces who have full control over this bot.
BOT_OWNERS=''

# The name of the database that this bot should use when storing settings for a Discord server.
DATABASE_NAME='serversettings.db'